<div class="row-fluid">
  <div class="span9 composer-container">
    <div class="composer-head">
      <h2>Edit publication</h2>
    </div>

    <%= render 'form' %>
  </div>
  <div class="span3">
   <div class="side-head">
     <h1>Helper</h1>
     </div>

     <div class="side-info">
       <ul>
        <li>
         <b>Articles</b> <span>0</span>
       </li>
       <li>
         <b>Subscribers</b> <span>17</span>
       </li>
       <li>
         <b>Rating</b> <span>&#x2605;&#x2605;&#x2605;&#x2605;&#x2606;</span>
       </li>
     </ul>
   </div>
   <div class="side-info hidden-phone">
     [Tracker here]<br>
     [Tracker here]<br>
     [Tracker here]<br>
     [Tracker here]<br>
     [Tracker here]<br>
     [Tracker here]<br><br>

     [Advertisement here]<br>
     [Advertisement here]<br>
   </div>
 </div>
</div>