<div class="row-fluid">
	<div class="span9 composer-container">
    <div class="composer-head">
      <h2>Compose publication</h2>
    </div>

    <%= render 'form' %>
  </div>
  <div class="span3">
   <div class="member-head">
    <h1>Helper</h1>
    </div>

    <div class="member-info">
       
   </div>
   <div class="member-info hidden-phone">
     [Tracker here]<br>
     [Tracker here]<br>
     [Tracker here]<br>
     [Tracker here]<br>
     [Tracker here]<br>
     [Tracker here]<br><br>

     [Advertisement here]<br>
     [Advertisement here]<br>
   </div>
 </div>
</div>