<div class="row-fluid">
	<div class="span9 composer-container">
    <div class="composer-head">
      <h2>Compose publication</h2>
    </div>

    <%= render 'form' %>
  </div>
  <div class="span3">
    <div class="side-head">
      <h1>Writing tips</h1>
    </div>

    <div class="side-info">
       <ul>
        <li>Try to use keywords in your title and early in your text.</li>
        <li>Remember to use the tools available in the editor.</li>
        <li>If you do not want it to be visible just yet, do not check the "Published" box.</li>
      </ul>
    </div>
     <div class="side-info hidden-phone">
       [Tracker here]<br>
       [Tracker here]<br>
       [Tracker here]<br>
       [Tracker here]<br>
       [Tracker here]<br>
       [Tracker here]<br><br>

       [Advertisement here]<br>
       [Advertisement here]<br>
     </div>
  </div>
</div>