<h1>Member::Publication#show</h1>
<p>Find me in app/views/article/publication/show.html.erb</p>

<pre>
  <%= @publication.to_yaml %>
</pre>

<pre>
  <%= @publication.type.title.to_yaml %>
</pre>

<pre>
  <%= @publication.category.title.to_yaml %>
</pre>
