/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.article-thumb {
  background: #efefef;
  height:33%;
  padding:5px;
  margin:10px;
}

.thumb-head {
  display:block;
  font-weight: bold;
}

.avatar {
  text-align: left;
  width:80%;
  display: inline-block;
  margin:auto;
}

.avatar h2, img{
  display: inline;
  margin-right: 10px;
}
